[submodule "lib/imagebind"]
	path = lib/imagebind
	url = https://github.com/rohithpeddi/ImageBind.git
[submodule "lib/EgoVLP"]
	path = lib/EgoVLP
	url = https://github.com/Amir-Othmani00/EgoVLP.git
[submodule "lib/perception_models"]
	path = lib/perception_models
	url = https://github.com/Amir-Othmani00/perception_models.git
